#gridContainer {
    width: 450px;
    height: 450px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}


.row {
    border-color: black;
    border-width: 0px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    height: 33.333%;
}

.box {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33.333%;
}



.cell {
    border-color: black;
    border-width: 0px;
    border-style: solid;
    flex: 1 1 0;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

button {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 250%;
}

.fixedTile {
    background-color: rgb(75, 75, 75);
}

.emptyTile {
    background-color: rgb(200, 200, 200);
}